In [1]:
import pandas as pd
from pandasql import sqldf
df = pd.read_csv('postings.csv')
df2 = pd.read_csv('salaries.csv')

query = """
WITH table1 AS (SELECT 
    CASE
        WHEN LOWER(df.title) LIKE '%senior%'
            OR LOWER(df.title) LIKE '%sr.%'
            OR LOWER(df.title) LIKE '%lead%'
            OR LOWER(df.title) LIKE '%principal%'
            OR LOWER(df.title) LIKE '%staff%'
            OR LOWER(df.title) LIKE '%manager%'
            OR LOWER(df.title) LIKE '%director%'
            OR LOWER(df.title) LIKE '%vp%'
            OR LOWER(df.title) LIKE '%chief%'
        THEN 'Senior'
        WHEN LOWER(df.title) LIKE '%junior%'
           OR LOWER(df.title) LIKE '%jr.%'
           OR LOWER(df.title) LIKE '%entry level%'
           OR LOWER(df.title) LIKE '%associate%'
           OR LOWER(df.title) LIKE '%graduate%'
           OR LOWER(df.title) LIKE '%intern%'
           OR LOWER(df.title) LIKE '%trainee%'
        THEN 'Junior'
        ELSE 'Intermediate'
        END AS experience_level,
    df.location,
    (df2.max_salary + df2.min_salary) / 2 AS mean_salary,
    df.title, df.description
FROM df
INNER JOIN df2 ON df.job_id = df2.job_id
WHERE 
    df.max_salary >= 15080
    AND (LOWER(df.title) LIKE '%data%'
OR LOWER(df.description) LIKE '%machine learning%'
OR LOWER(df.description) LIKE '%predictive model%'
OR LOWER(df.description) LIKE '%deep learning%'
OR LOWER(df.description) LIKE '%natural language processing%'
OR LOWER(df.description) LIKE '%computer vision%'
OR LOWER(df.description) LIKE '%regression%'
OR LOWER(df.description) LIKE '%unsupervised learning%'
OR LOWER(df.description) LIKE '%supervised learning%'
OR LOWER(df.description) LIKE '%reinforcement learning%'
OR LOWER(df.description) LIKE '%neural network%'
OR LOWER(df.description) LIKE '%feature engineering%'
OR LOWER(df.description) LIKE '%hyperparameter tuning%'
OR LOWER(df.description) LIKE '%data science%'
OR LOWER(df.description) LIKE '%ml pipeline%'
OR LOWER(df.description) LIKE '%tensorflow%'
OR LOWER(df.description) LIKE '%pytorch%'
OR LOWER(df.description) LIKE '%scikit learn%'
OR LOWER(df.description) LIKE '%data analyst%' 
OR LOWER(df.description) LIKE '%business analyst%'
OR LOWER(df.description) LIKE '%power bi%'
OR LOWER(df.description) LIKE '%tableau%'
OR LOWER(df.description) LIKE '%data engineer%'
OR LOWER(df.description) LIKE '%data pipeline%'
OR LOWER(df.description) LIKE '%big data%'
OR LOWER(df.description) LIKE '%airflow%'
OR LOWER(df.description) LIKE '%sql engineer%'
OR LOWER(df.description) LIKE '%data warehouse%'
)
    AND (LOWER(df.location) LIKE '%, al'
        OR LOWER(df.location) LIKE '%, ak'
        OR LOWER(df.location) LIKE '%, az'
        OR LOWER(df.location) LIKE '%, ar'
        OR LOWER(df.location) LIKE '%, ca'
        OR LOWER(df.location) LIKE '%, co'
        OR LOWER(df.location) LIKE '%, ct'
        OR LOWER(df.location) LIKE '%, de'
        OR LOWER(df.location) LIKE '%, fl'
        OR LOWER(df.location) LIKE '%, ga'
        OR LOWER(df.location) LIKE '%, hi'
        OR LOWER(df.location) LIKE '%, id'
        OR LOWER(df.location) LIKE '%, il'
        OR LOWER(df.location) LIKE '%, in'
        OR LOWER(df.location) LIKE '%, ia'
        OR LOWER(df.location) LIKE '%, ks'
        OR LOWER(df.location) LIKE '%, ky'
        OR LOWER(df.location) LIKE '%, la'
        OR LOWER(df.location) LIKE '%, me'
        OR LOWER(df.location) LIKE '%, md'
        OR LOWER(df.location) LIKE '%, ma'
        OR LOWER(df.location) LIKE '%, mi'
        OR LOWER(df.location) LIKE '%, mn'
        OR LOWER(df.location) LIKE '%, ms'
        OR LOWER(df.location) LIKE '%, mo'
        OR LOWER(df.location) LIKE '%, mt'
        OR LOWER(df.location) LIKE '%, ne'
        OR LOWER(df.location) LIKE '%, nv'
        OR LOWER(df.location) LIKE '%, nh'
        OR LOWER(df.location) LIKE '%, nj'
        OR LOWER(df.location) LIKE '%, nm'
        OR LOWER(df.location) LIKE '%, ny'
        OR LOWER(df.location) LIKE '%, nc'
        OR LOWER(df.location) LIKE '%, nd'
        OR LOWER(df.location) LIKE '%, oh'
        OR LOWER(df.location) LIKE '%, ok'
        OR LOWER(df.location) LIKE '%, or'
        OR LOWER(df.location) LIKE '%, pa'
        OR LOWER(df.location) LIKE '%, ri'
        OR LOWER(df.location) LIKE '%, sc'
        OR LOWER(df.location) LIKE '%, sd'
        OR LOWER(df.location) LIKE '%, tn'
        OR LOWER(df.location) LIKE '%, tx'
        OR LOWER(df.location) LIKE '%, ut'
        OR LOWER(df.location) LIKE '%, vt'
        OR LOWER(df.location) LIKE '%, va'
        OR LOWER(df.location) LIKE '%, wa'
        OR LOWER(df.location) LIKE '%, wv'
        OR LOWER(df.location) LIKE '%, wi'
        OR LOWER(df.location) LIKE '%, wy'))

SELECT *
FROM table1
"""

pysqldf = lambda q: sqldf(q, globals())
results = pysqldf(query)
results
results.to_csv('DS_salaries_data0.csv', index=False)

In [2]:
import pandas as pd
df1 = pd.read_csv('DS_salaries_data0.csv')

# Split the 'location' column into 'county' and 'state' using the last comma
df1[['cities', 'state']] = df1['location'].str.rsplit(', ', n=1, expand=True)

# Trim whitespace
df1['cities'] = df1['cities'].str.strip()
df1['state'] = df1['state'].str.strip()

# Select desired columns
df_result = df1[['cities', 'state', 'experience_level', 'mean_salary']]

# Save to CSV
df_result.to_csv("DS_salaries_data.csv", index=False)

In [10]:
import pandas as pd
# Define neighborhood to city mappings
CITY_MAPPINGS = {
    # New York boroughs/neighborhoods
    'manhattan': 'New York',
    'brooklyn': 'New York',
    'queens': 'New York',
    'bronx': 'New York',
    
    # Los Angeles area
    'west hollywood': 'Los Angeles',
    'marina del rey': 'Los Angeles',
    'culver city': 'Los Angeles',
    'santa monica': 'Los Angeles',
    'beverly hills': 'Los Angeles',
    'glendale': 'Los Angeles',
    'pasadena': 'Los Angeles',
    
    # San Francisco Bay Area (keeping these distinct)
    'san francisco': 'San Francisco',
    'oakland': 'Oakland',
    'san jose': 'San Jose',
    'palo alto': 'Palo Alto',
    'sunnyvale': 'Sunnyvale',
    
    # Chicago
    'chicago': 'Chicago',
    
    # Other major cities
    'boston': 'Boston',
    'seattle': 'Seattle',
    'austin': 'Austin',
    'dallas': 'Dallas',
    'houston': 'Houston',
    'atlanta': 'Atlanta',
    'miami': 'Miami',
    'philadelphia': 'Philadelphia'
}

def transform_city_name(city):
    """Convert neighborhood names to primary city names"""
    city_lower = city.lower().strip()
    for neighborhood, primary_city in CITY_MAPPINGS.items():
        if neighborhood in city_lower:
            return primary_city
    return city  # Return original if no mapping found

# Load your dataset
df = pd.read_csv('final_data.csv')

# Apply the transformation
df['cities'] = df['cities'].apply(transform_city_name)

# Save the transformed data
df.to_csv('final_data0.csv', index=False)
print(f"Total rows processed: {len(df)}")

Total rows processed: 1418

In [2]:
import pandas as pd
df = pd.read_csv('final_data.csv')

# Select desired columns
df_result = df[['experience_level', 'cost_of_living', 'infrastructure_level', 'happiness_level', 'mean_salary']]

# Save to CSV
df_result.to_csv("final_data.csv", index=False)

In [6]:
import pandas as pd

df = pd.read_csv("DS_salaries_data.csv")
print(len(df))

1418